.mp-map {
  $mpMap: &;
  &__iframe {
    width: 100%;
    height: 700px;
    border: unset;
    @media (max-width: 1400px) {
      height: 400px;
    }
    @media (max-width: 767px) {
      height: 276px;
    }
  }
  &_contacts {
    #{ $mpMap }__container {
      @include container;
    }
    #{ $mpMap }__wrapper {
      padding: 110px 60px 120px;
    }
    #{ $mpMap }__iframe {
      border-radius: 40px;
      overflow: hidden;
      height: 793px;
    }
  }
}
