.mp-products {
  &__container {
    @include container;
  }
  &__wrapper {
    text-align: center;
    padding: 120px 45px;
    @media (max-width: 767px) {
      padding: 60px 0;
    }
  }
  &__title {
    @include titleStyles;
    color: $colorYellow;
    margin-bottom: 30px;
  }
  &__subtitle {
    @include titleCaptionStyles;
    margin-bottom: 48px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__col {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    padding: 0 15px;
    @media (max-width: 1199px) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    @media (max-width: 991px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
.mp-products-grid {
  $mpPGrid: &;
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  &_six {
    #{ $mpPGrid }__col {
      max-width: 16.6666%;
      flex: 0 0 16.6666%;
      @media (max-width: 1199px) {
        max-width: 25%;
        flex: 0 0 25%;
        margin-bottom: 40px;
      }
      @media (max-width: 991px) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }
  &__title {
    color: $colorOrange;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.1;
    @media (max-width: 1400px) {
      font-size: 30px;
    }
    @media (max-width: 767px) {
      font-size: 19px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__col {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
    @media (max-width: 767px) {
      padding: 0 7.5px;
    }
  }
  &__image {
  }
}
.mp-grid-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image-wrapper {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
  &__image {
    height: 275px;
    width: auto;
    border-radius: 10px;
    @media (max-width: 1600px) {
      height: 240px;
    }
    @media (max-width: 1400px) {
      height: 200px;
    }
    @media (max-width: 767px) {
      height: 165px;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    @media (max-width: 1600px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
