.mp-button {
  $mpButton: &;
  background-color: $colorYellow;
  color: $colorLight;
  height: 47px;
  display: inline-flex;
  align-items: center;
  margin: 0 15px;
  border-radius: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  @media (max-width: 767px) {
    height: 30px;
    margin: 0 5px;
  }
  &_default {
    justify-content: center;
    text-align: center;
    min-width: 275px;
    min-height: 47px;
  }
  &_lg {
    height: 47px;
    margin: 0;
  }
  &_fullWidth {
    width: 100%;
    justify-content: center;
  }
  &_orange {
    background-color: $colorOrange;
  }
  &_red {
    background-color: $colorRed;
  }
  &_icon-only {
    width: 47px;
    height: 47px;
    justify-content: center;
    @media (max-width: 767px) {
      height: 30px;
      width: 30px;
      padding: 0;
    }
    #{ $mpButton}__icon {
      margin-right: 0;
    }
  }
  &__icon {
    max-height: 22px;
    width: auto;
    margin-right: 12px;
    // @media (max-width: 767px) {
    //   max-height: 12px;
    // }
  }
  &__text {
  }
  &_tel {
    @media (max-width: 1300px) {
      width: 47px;
      padding: 0;
      justify-content: center;
    }
    @media (max-width: 1300px) {
      margin: 0 8px;
    }
    @media (max-width: 767px) {
      padding: 0;
      width: 30px;
    }
    #{ $mpButton}__text {
      @media (max-width: 1300px) {
        display: none;
      }
    }
    #{ $mpButton}__icon {
      height: 20px;
      @media (max-width: 1300px) {
        margin-right: unset;
      }
      @media (max-width: 767px) {
        height: 12.5px;
      }
    }
  }
  &_email {
    #{ $mpButton}__icon {
      height: 16px;
      @media (max-width: 767px) {
        height: 10.5px;
      }
    }
  }
  &_calc {
    #{ $mpButton}__icon {
      height: 22px;
      @media (max-width: 767px) {
        height: 15px;
      }
    }
  }
}
