.mp-switch {
  $mpSw: &;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorGrayLight2;
    transition: 0.4s;
    border-radius: 18px;
    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 0;
      border: 1px solid $colorGrayLight2;
      //   bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input {
    &:checked {
      + #{ $mpSw }__slider {
        background-color: $colorYellow;
        &:before {
          transform: translateX(14px);
          border-color: $colorYellow;
        }
      }
    }
    // &:focus {
    //   + #{ $mpSw }__slider {
    //     box-shadow: 0 0 1px $colorYellow;
    //   }
    // }
  }
}
