$colorDark: #041620;
$colorDarkLight: #072231;
$colorLight: #fafafa;
$colorRed: #ff4d00;
$colorOrange: #ff7500;
$colorYellow: #ffb801;
$colorGrayLight: #9d9fa2;
$colorGrayLight2: #c4c4c4;
$colorGrayLighter: #e5e5e5;
$colorGray: #5c5d60;
