@mixin container {
  max-width: 1920px;
  padding: 0 15px;
  margin: auto;
}

@mixin titleStyles {
  font-size: 68px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  @media (max-width: 1199px) {
    font-size: 58px;
  }
  @media (max-width: 1099px) {
    font-size: 48px;
  }
  @media (max-width: 767px) {
    font-size: 32px;
  }
}
@mixin titleCaptionStyles {
  font-size: 18px;
  max-width: 580px;
  margin: 0 auto 60px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
